.container{
  background: url(./backGround.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 

}

.box{
  width: 400px;
  height: 465px;
  background: #fff;

  border-radius: 2%;
}

.box_content{
  padding:30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}